.single {
  padding: 2px 16px;
  background-color: white;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid white;
}

.single:hover {
  border-left:  8px solid blue;
}

.bg {
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
}